.list-view {
    -fx-background-color:  #efefef;
}

.list-view .list-cell:hover {
    -fx-background-color: #7bd0d1;
}

.list-view .list-cell {
    -fx-background-color:  #efefef;
    -fx-text-fill: black;
    
}

.list-view .label {
    -fx-text-fill: white;
    
}

#search {
    -fx-background-color:  #2b579a;
}