
#list-endroits-cell:selected{
    -fx-background-color:  #292f35;
}
.jfx-list-cell:hover{
    -fx-background-color:  #ffae19;
}
#list-endroits{
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap : 10;
    
}
#vbox2,#vbox1,#vbox3{
    -fx-background-color: #ffae19;
    -fx-border-width: 1;
    -fx-border-color: black;
}