
#photo,#modifier,#suivant,#retour,#effacer {
  -fx-background-color: #FDA251;
  -fx-text-fill: white;
  -fx-background-radius: 16px;
}
#photo:hover,#modifier:hover,#suivant:hover,#retour:hover,#effacer:hover {
  -fx-background-color: orange;
}
