#ajouter,#suivant,#retour,#filtrer {
  -fx-background-color: #FDA251;
  -fx-text-fill: white;
  -fx-background-radius: 16px;

}
#ajouter:hover,#suivant:hover,#retour:hover,#filtrer:hover {
  -fx-background-color: orange;
}
